{% extends 'base.html' %}

{% block title %}
    Edit post
{% endblock %}

{% block content %}
<h1>Create post</h1>
<div class="col-md-6 mx-auto mt-5">
    <form action="{{ url_for('posts.post_edit', slug=post.slug) }}" method="post"">
        {% for field in form %}
        <div class="form-group">
            <label">{{ field.label() }}</label>
            {{ field(class="form-control") }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Update post</button>
    </form>
</div>
{% endblock %}
